.my-chef{
    border: solid 2px black
}
.centered-text{
    text-align:center;
}
.chef-img{
    height:200px;
    width: auto;
}


.bio{
    width: 320px;
    padding-left: 20px;
    padding-right: 20px;
}
