.row{
    display:flex;
    justify-content: center;
}
.dashboard{
    margin-top:20px;
}
.calendar-component{
    margin:0 auto;
}

.two-column{
    display:flex;
    justify-content:space-around;
}
