.signup-form {
    font-family: "Open Sans",
    sans-serif;
    font-size: 18px;
    color: #444;
    text-align: center;
    line-height: 1.0;
    margin-bottom:20px;
}
.signup-btn{
    margin-top:20px;
}
  
  