nav{
  height: 48px;
  font-size: 1.2em;
  width: 100%;
  top: 20px;
  border-bottom: solid black 1px;
}

#nav-menu{
  text-align: center;
  color: black;
  margin-top: 15px;
  display: flex;
  justify-content: center;
}
.menuitem{
  padding: 0 10px;
  cursor: pointer;
  text-decoration: none;
}
.menuitem:hover{
  background-color: black;
  color: white !important;
}
button.menuitem{
  margin: 0px !important;
}