nav{
  height: 38px;
  font-size: 16px;
  width: 100%;
  top: 20px;
  border-bottom: solid black 1px;
}

#menu{
  text-align: center;
  color: black;
  margin-top: 15px;
}
.menuitem{
  padding: 20px;
  cursor: pointer;
  text-decoration: none;
}
.menuitem:hover{
  background-color: black;
  color: white !important;
  height: 20px;
}