.App {
  text-align: center;
}
.lunchery-banner{
  background-image: url('/images/banner.png');
  background-position: center;
  background-repeat: no-repeat;
  background-size:cover;
  height: 180px;
}