nav{
  font-size: 1.2em;
  width: 100%;
  top: 20px;
}

#nav-menu{
  height:80px;
  background-color:purple;
  padding-top:10px;
  text-align: center;
  color: black;
  border-bottom: 1px solid black
}
.menuitem{
padding: 0 10px;
background-color: purple;
box-shadow: 0 5px 0 darkmagenta;
color: white;
padding: 1em 1.5em;
position: relative;
text-decoration: none;
text-transform: uppercase;
cursor: pointer;
text-decoration: none;  
}
.navbar-item:hover{
  background-color: black;
  color: white !important;
}



a:active {
box-shadow: none;
top: 5px;
}

@media (max-width: 720px){
  button.menuitem{
    height:20px;
  }
}

@media (max-width:500px){
  .navbar-item{
    font-size:.8em;
  }
}